#logindiv{
    /*  border: 2px solid black; */
      width: 25%;
      height: 200px;
     /* box-shadow: 2px 2px 3px hotpink;background-image: linear-gradient(orangered,white,pink); */
      position: relative;
      top: 200px;
  }
  #loginInput{
      width: 370px;
      height: 30px;
      text-align: center;
      font-size: 25px;
      position: relative;
      margin-top: 17px;
      border-radius: 4px; 
      box-shadow: 2px 2px 3px black;
      background-color: aquamarine;
      
  }
  #bdlogin{
  
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("https://www.pngitem.com/pimgs/m/130-1304792_digital-wallet-hd-png-download.png");
  }
  #loginH1{
      position: relative;
      top: 190px;
      font-size: 30px;
      color: red;
  }
  
  .loginInput{
      width: 300px;
      height: 30px;
      text-align: center;
      position: relative;
      margin-top: 20px;
      border-radius: 4px;
      background-color: aquamarine;
      /* font-family: 'Aoboshi One', serif;
      font-family: 'Cormorant Garamond', serif; */
      font-size: 20px;
      
  }
  #loginpageRegisterButton{
      position: relative;
      width: 60px;
      height: 31px;
      font-family: 'Aoboshi One', serif;
  
  }
  #loginPageLoginButton{
      
      position: relative;
      width: 60px;
      height: 30px;
      font-family: 'Aoboshi One', serif;
  }
  
  